*{
    margin: 0;
    padding: 0;
}

/* font  */


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* Shared  */

.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 164px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    
    

}


.color-green{
    color: #30B868;
}

.section-heading{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.section-paragraph{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.btn:hover{
    background-color: #032d13;
    box-shadow: 0px 4px 8px #627382;
}
.btn-2:hover{
    background-color: #F7F6F2;
    color: #15e749;
    border: green;
    

}

/* Main  */

header nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
header nav .menu{
    list-style: none;
    display: flex;  
    gap: 32px;
    align-items: center;

}


header nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 152%;
    text-decoration: none;
}


#banner{
    background-image: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 115px 120px 179px 120px; */
    padding-bottom: 179px;
    padding-top: 115px;
    background-size: cover;
    
}
.banner-container{
    width: 85%;
    max-width: 1360px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    
    
}
.banner-container .banner-info{
    padding: 52px 295px 0 295px;
}
.banner-container #paragraph-1{
    background-color: #FFFFFF;
    display: inline-block;
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 1000px;
    margin-bottom: 16px;
}
.banner-container #paragraph-1 p{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}
.banner-info h1{
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.banner-container .banner-paragraph{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}
.banner-button{
    margin: 0 auto;
}
.banner-button .btn-1{
    width: 251px;
    margin-right: 16px;

}
.banner-button .btn-2{
    width: 198px;
    background-color: transparent;
    border: 1px solid white;
    
}
#notes{
    padding-top: 50px;
    text-align: center;
    
}
.note-box{
    display: flex;
    margin: 0 auto;
    width: 85%;
    max-width: 1360px;
    gap: 24px;

}
.note-card{
    padding: 24px;
    background-color: #FFFFFF;
    border: 1px solid white;
    box-shadow: 0 0 8px 0 #00000030;
    border-radius: 8px;
    width: 322px;
}
.note-card img{
    /* width: 60px;
    height: 60px; */
    background-color: #F95555;
    padding: 14px;
    border-radius: 1000px;
    margin-bottom: 16px;

}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.note-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#brain{
    padding: 120px;
}
#brain .brain-container{
    display: flex;
    max-width: 1360px;
    width: 85%;
    gap: 60px;
}

#brain .brain-image img{
    width: 600px;
    min-height: 600px;
    border-radius: 12px;
    

}

.brain-info .brain-text h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}
.brain-info .brain-text {
    margin-bottom: 40px;
}

.brain-list .brain-checklist{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
    
}
.brain-checklist p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}
.brain-heading {
    width: 700px;
}
.brain-info{
    margin-top: auto;
    margin-bottom: auto;
}
#early-access{
    padding: 0 120px 120px 120px;
}
#early-access .early-access-container{
    background-color: #F7F6F2;
    padding: 80px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
}
.early-access-content p{
    margin-bottom: 24px;
}
.early-access-content button{
    width: 194px;
    margin-bottom: 16px;
}
footer{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
    
}
.footer-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.footer-container .social{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    align-items: center;
    text-align: center;
    
}
.social h5{
    color: white;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 16px;

}
.social .links .footer-image{
    padding-left: 10px;

}
.social .footer-image{
    display: flex;
    gap: 16px;
    margin: 0 auto;
}
.social .footer-image img {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    
}
.copyright{
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    
    justify-content: center;
    /* width: 85%;
    max-width: 1360px; */
    width: 100%;
    color: white;

}
hr{
    margin-bottom: 20px;
    opacity: 30%;
}