*{
    margin: 0;
    padding: 0;
}

/* font  */


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* Main  */

header nav{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
header nav .menu{
    list-style: none;
    display: flex;  
    gap: 32px;
    align-items: center;

}

header nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 152%;
    text-decoration: none;
}


/* Shared  */

.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 164px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;

}
